@model LastTriel.Models.Assessment
@{
    ViewData["Title"] = "Create Assessment";
}
<link rel="stylesheet" href="~/css/StyleSheet.css">
<script src="~/js/script.js"></script>
<h1>Create Assessment</h1>

<form asp-action="CreateAssessment" method="post">
    <div class="form-group">
        <label asp-for="ModuleId" class="control-label">Module ID</label>
        <input asp-for="ModuleId" class="form-control" />
        <span asp-validation-for="ModuleId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cid" class="control-label">Course ID</label>
        <input asp-for="Cid" class="form-control" />
        <span asp-validation-for="Cid" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AssessmentId" class="control-label">Assessment ID</label>
        <input asp-for="AssessmentId" class="form-control" />
        <span asp-validation-for="AssessmentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Type</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalMarks" class="control-label">Total Marks</label>
        <input asp-for="TotalMarks" class="form-control" />
        <span asp-validation-for="TotalMarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassingMarks" class="control-label">Passing Marks</label>
        <input asp-for="PassingMarks" class="form-control" />
        <span asp-validation-for="PassingMarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weightage" class="control-label">Weightage</label>
        <input asp-for="Weightage" class="form-control" />
        <span asp-validation-for="Weightage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Criteria" class="control-label">Criteria</label>
        <input asp-for="Criteria" class="form-control" />
        <span asp-validation-for="Criteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
